.saving-container {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto;
}

svg {
  height: 100%;
  width: 100%;
}

.saving-container:hover #omino {
  animation: omino 1.50s linear infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes omino {
  from{
    transform: rotateZ(0deg);
  }
  50%{
    transform: rotateZ(50deg);
  }
  to{
    transform: rotateZ(0deg);
  }
}
